@media only screen and (min-width: 1024px) {
  .scoreBoardContainer {
    width: 33.33%;
    height: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .scoreBoardContainer {
    width: 20%;
    height: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .scoreBoardContainer {
    width: 100%;
    height: 20%;
  }
}


.scoreBoardContainer {

  float: left;
}
